@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,500;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark:#1d69a3;
    --padding-inline-section: 20px;
}


body{
    font-family: 'Poppins',sans-serif;
    color: var(--primary-text-color);
    background:4A0000;

}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p{
    font-family: 'Roboto',sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a{
    text-decoration: none;
    display: inline-block;
}


/* Custom styles for the navbar */
.navbar-custom {
    background-color: #800020; 
    border-bottom: 2px solid #d4af37;
}

.navbar-custom .navbar-brand {
    color:#f0e6d2; 
    font-family: 'Merriweather', serif; 
    font-weight: bold;
    font-size: 30px;
}
.navbar-custom .navbar-brand:hover {
    color: #d4af37;
}


.navbar-custom .nav-link {
    color: #f0e6d2;
    font-family: 'Merriweather', serif;
    text-transform: none; 
    letter-spacing: 0px;
}

.navbar-custom .nav-link:hover {
    color: #d4af37;
    background-color: rgba(212, 175, 55, 0.1);
    border-radius: 5px;
}

.navbar-custom .navbar-toggler-icon {
    background-color: #f0e6d2; 
}

.navbar-custom {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
    width: 120px;
}


/* support section */

.section-support {
    max-width: 1000px;
    margin: 20px auto;
    background-color: bisque;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 15vh;
}

.h2-support {
    font-size: 2rem;
    color: #333;
    margin-bottom: 15px;
    border-bottom: 2px solid rgba(149, 29, 29, 0.829);
    padding-bottom: 10px;
}

.h3-support {
    font-size: 1.5rem;
    color: #333;
    margin-top: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

ul li strong {
    color: brown;
    font-weight: bold;
}

a {
    color: brown;
    text-decoration: none;
}

/* FAQ Sections */
.faq-section {
    margin-bottom: 30px;
}

/* Footer */
.footer-support {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.footer-support a {
    color: red;
    text-decoration: none;
}

.footer-support a:hover {
    text-decoration: underline;
}

.support-body{
    background-color: #4A0000;
}
.support{
    margin-top: 15vh;
}

#ques{
    margin-top: 10vh;
}